.hero-container {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
}

.hero-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}