.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333823;
  color: #C0CEE2;
  padding: 0 15px;
  z-index: 3 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: #C0CEE2;
  margin-left: 15px;
  text-decoration: none;
  font-size: 2rem;
}

.navbar a {
  color: #C0CEE2;
  margin-right: 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  color: #DAF0FF;
}

.navbar button {
  background-color: #6A7062;
  margin-right: 5px;
  color: #D6EEFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #8D909B;
}

#logout-btn:hover {
  background-color: #7a0909;
  color: black;
}

.navbar span {
  color: #C0CEE2;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
}